[HttpServer]
appName = "golitekit"
runMode = "debug"
network = "tcp4"
addr = ":8080"
enablePprof = false

[HttpServer.Timeout]
writeTimeout = 15000
readTimeout = 200
idleTimeout = 5000
shutdownTimeout = 5000

[HttpServer.SSE]
timeout = 300000

[HttpServer.RateLimit]
rateLimit = 100
rateBurst = 150

[HttpServer.Logger]
configFile = "logger.toml"
logRequestBody = true    # 开启请求体打印（可选）
logResponseBody = false  # 关闭响应体打印（可选）

[HttpServer.DB]
configFile = "db.toml"

# 静态文件服务（可选）
[HttpServer.Static]
staticDir = "static"

[HttpServer.TLSConfig]
tls = false
certFile = "tls/server.crt"
keyFile = "tls/server.key"