[HttpServer]
appName = "golitekit"
runMode = "debug"
network = "tcp4"
addr = ":8080"
enablePprof = false

[HttpServer.Timeout]
writeTimeout = 15000
readTimeout = 200
idleTimeout = 5000
shutdownTimeout = 5000

[HttpServer.SSE]
timeout = 300000

[HttpServer.RateLimit]
rateLimit = 100
rateBurst = 150

[HttpServer.Logger]
configFile = "logger.toml"

[HttpServer.DB]
configFile = "db.toml"

[HttpServer.TLSConfig]
tls = false
certFile = "tls/server.crt"
keyFile = "tls/server.key"